.mid-login {
    display: flex;
    justify-content: center;
    margin-top: 5em;
    margin-bottom: 5em;
}
.mid-login h1 {
    color: #666666;
}
.mid-login h1 ion-icon {
    color: rgb(48, 209, 55)
}
p {
    color: #666666;
}
